body {
  font: 14px sans-serif;
}

#controlPanel {
    width: 25%;
    float: left;
}

input[type="text"]{
    width: 40px;
}

/* div>input[type="checkbox"]{ */
p>div{
  display:inline-block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}
